html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    /* background-image: url("images/beans.jpeg"); */
    
    margin: 0;
    padding: 0;
}
.main-header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -200px;
    height: 15em;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
}
.title-card {
    grid-column: 2/3;
    grid-row: 2/4;
    text-align: center;
}
.title-card h1 {
    font-weight: 500;
    font-size: 2.5em;
}

.title-card p,
.title-card h1 {
    margin: 0;
    color: black;
}
.main-nav{
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    grid-column: 1/5;
    grid-row: 5/6;
}
.main-nav ul{
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

li a {
    display: inline-block;
    padding: 1em 2em;
    color: white;
    text-decoration: none;
}

.form-header {
    margin: 0; 
    padding: 0;
}
.main-wrapper {
    display: flex;
    flex-direction: column;

}
.field-container {
    display: flex;
    margin: 5em auto;
}
.coffee-list {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    height: 30em;

}
.coffee-list p, .coffee-list h2 {
    margin: 0;
    padding: 0;
}

.coffee-wrapper {
 margin: 1.5em 3em;
}
.input-forms, .submit-button {
  padding: .5em;
}
select {
    -o-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    text-align: center;
    padding: 0 1em
}

/*video Css*/

#videobg {
    background: url(video/pour.mp4) no-repeat;
    background-size: cover;
}