html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("images/coffee-dark.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.main-nav {
    margin:auto;
    width: 60%;
    /*background: rgb(229,171,36);*/


}
.nav-list{
    display: flex;
    justify-content: space-evenly;
}
.nav-item {
    list-style: none;
    margin: 2.5em;
}
.nav-link {
    text-decoration: none;
    color: black;
    padding: 1em;
}
.logo {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    right: 817px;
}
.main-wrapper {
    display: flex;
}
.field-container {
    display: flex;
    flex-direction: column;
    margin: 5em auto;
    background: rgb(229,171,36);
}
.form-container{
    display:flex;
    flex-direction: column;
}
.coffee-list {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    height: 30em;
    background: rgb(229,171,36);

}
.coffee-list p, .coffee-list h2 {
    margin: 0;
    padding: 0;
}

.coffee-wrapper {
 margin: 1.5em 3em;
}
.form-header {
    text-align: center;
}
.form-label{
    margin-left: 1em;
}
.input-forms, .submit-button {
  padding: .5em 8em;
  text-align: center;
  margin: 1em;
}
select {
    -o-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    text-align: center;
    padding: 0 1em
}

/*video Css*/

